.container{
    display: flex;
    flex-direction: row;
}

.item{
    border: 1px solid black;
    color: rgb(69, 96, 214);
    padding: 1%;
    font-size: 17px;
    font-weight: 300;
}

.item:hover{
    /* background-color: rgb(161, 151, 151); */
    color: black;
    text-decoration: underline;
    background-color: cadetblue;
}


#display{
    margin-top: 5%;
    margin-left: 20%;
    background-color: cadetblue;
    margin-right: 20%;
    /* text-align: center; */
    padding: 4%;
    color: white;
}
#head{
    text-align: center;
    padding: 2%;
}


@media (max-width:500px){
    .data{
        margin-left: 15%;
        color: black;
        margin-right: 15%;
        word-break: break-all;
    }
    .container{
        margin-left: 23%;
        margin-top: 5%;
    }
}
@media (min-width:501px) and (max-width:1000px){
    .data{
        margin-left: 18%;
        color: black;
        margin-right: 18%;
        word-break: break-all;
    }
    .container{
        margin-left: 27%;
        margin-top: 5%;
    }
}
@media (min-width:1001px){
    .data{
        margin-left: 23%;
        color: black;
        margin-right: 25%;
        word-break: break-all;
    }
    .container{
        margin-left: 34%;
        margin-top: 5%;
    }
}