.container{
    display: flex;
    flex-direction: row;
}

.item{
    border: 1px solid black;
    color: rgb(69, 96, 214);
    padding: 1%;
    font-size: 17px;
    font-weight: 300;
}

.item:hover{
    /* background-color: rgb(161, 151, 151); */
    color: black;
    text-decoration: underline;
    background-color: cadetblue;
}


#display{
    margin-top: 5%;
    margin-left: 20%;
    background-color: cadetblue;
    margin-right: 20%;
    /* text-align: center; */
    padding: 4%;
    color: white;
    border-radius: 20px;
}
#head{
    text-align: center;
    padding: 2%;
}

body{
    background-color: rgb(230, 247, 247);
}
#next,#previous,#first,#item1,#item2,#item3,#item4,#item5{
    background-color: white;
}

@media (max-width:500px){
    .data{
        margin-left: 15%;
        color: black;
        margin-right: 15%;
        word-break: break-all;
    }
    .container{
        margin-left: 12%;
        margin-top: 5%;
        padding: 1%;
        text-align: center;
    }
}
@media (min-width:501px) and (max-width:1000px){
    .data{
        margin-left: 19%;
        color: black;
        margin-right: 18%;
        word-break: break-all;
    }
    .container{
        margin-left: 20%;
        margin-top: 5%;
        padding: 1%;
        text-align: center;
    }
}
@media (min-width:1001px){
    .data{
        margin-left: 23%;
        color: black;
        margin-right: 25%;
        word-break: break-all;
    }
    .container{
        margin-left: 34%;
        margin-top: 5%;
        padding: 1%;
        text-align: center;
    }
}

